* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "disclaimerplain";
  src: url("./assets/disclaimer-plain-webfont.woff") format("woff2"),
    url("./assets/disclaimer-plain-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "far_outregular";
  src: url("./assets/far-out-webfont.woff") format("woff2"),
    url("./assets/far-out-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  font-size: 1.25em;
}

.page-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  z-index: 2;
  padding: 1em;
}

.page-content {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  margin: 0.5em auto;
}

.inner {
  display: flex;
  position: relative;
  padding: 0 1.5em;
  width: 20em;
  max-width: 100%;
  z-index: 1;
}

.site-image {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text-wrapper {
  display: inline-block;
  width: 20em;
  vertical-align: top;
  position: relative;
  max-width: 100%;
}

.text-content {
  position: relative;
  max-width: 100%;
  text-align: center;
  padding: 1.25em 0.5em;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75em;
  list-style: none;
  justify-content: center;
  line-height: 1.5;
  margin: 0.25em auto;
  padding: 0.25em;
}

ul.links {
  font-family: "disclaimerplain";
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;
  letter-spacing: 2.5px;
}

#header {
  margin-bottom: 0;
}
