/* Resetting styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Info */
@font-face {
  font-family: "disclaimerplain";
  src: url("./assets/disclaimer-plain-webfont.woff") format("woff2"),
    url("./assets/disclaimer-plain-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "far_outregular";
  src: url("./assets/far-out-webfont.woff") format("woff2"),
    url("./assets/far-out-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Body takes up entire viewport height; font slightly bigger than 16px */
body {
  min-height: 100vh;
  font-size: 1.25em;
}

/* Wrapper for entire page to style the centered flex element inside */
.page-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  margin: 0 auto;
}

/* Styling for the actual page content itself */
.page-content {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  margin: 0.5em auto;
}

/* Image Styling */
.site-image {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

/* Wrapper for the links - positional styling */
.text-wrapper {
  display: inline-block;
  width: 20em;
  vertical-align: top;
  position: relative;
  position: relative;
  max-width: 100%;
  text-align: center;
  max-width: 100%;
}

/* Removing the list styling of the links */
.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75em;
  list-style: none;
  justify-content: center;
  line-height: 1.5;
  margin: 0.25em auto;
  padding: 0.25em;
}

a:visited {
  color: rgb(102, 102, 102);
}

/* Styling of the individual list items */
ul.links {
  font-family: "disclaimerplain";
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;
  letter-spacing: 2.5px;
}

#header {
  margin-bottom: 0;
}
